.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;    
    margin-bottom: 10%;    

   /* grid-gap: 1px;*/
}

.container div {
    background: #ecf0f1;
    border: 1px solid #020100;
    text-align: center;
    padding: 20px;
}

#boton{
    text-align: center;
    margin-left: 46%;
    padding: 20px;
}